<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="Layout(body)">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<br><br><br><br><br>
    <footer class="bg-dark text-white text-center py-4 mt-5">
        <div class="container">
            <!-- Footer content -->
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <p class="mb-0">© 2024 FakeDetect. All rights reserved.</p>
                </div>
                <div class="col-md-6">
                    <div>
                        <a href="https://www.linkedin.com/in/pranjalkumar09/" target="_blank" class="text-white me-3">
                            <i class="fab fa-linkedin fa-2x"></i>
                        </a>
                            <i class="fab fa-twitter fa-2x"></i>
                        <a href="https://twitter.com/KumarPranjal09" target="_blank" class="text-white me-3">
                            <i class="fab fa-github fa-2x"></i>
                        </a>
                        <a href="https://github.com/PranjalKumar09/" target="_blank" class="text-white">
                        </a>
                    </div>
                </div>
            </div>
            <!-- End footer content -->
        </div>
    </footer>


</body>
</html>